@import "~/firebaseui/dist/firebaseui.css";

.content {
  position: relative;
  width: auto;
  height: 100%;
  margin-left: 284px;
  overflow: auto;
  z-index: 1;
}

.menu {
  position: fixed;
  width: 300px;
  height: 100%;
}